{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}
<h1>Contact Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed nisl auctor, efficitur mi laoreet, tincidunt lorem. Aenean quis felis eu sapien semper gravida maximus tincidunt lectus. Phasellus eu mi sollicitudin sapien cursus egestas sed sed nibh. Fusce nec augue nisl. Praesent egestas nibh lectus, sit amet tincidunt elit facilisis sollicitudin. Morbi faucibus pulvinar nulla, ac pulvinar neque imperdiet vitae. Cras consequat, ante vitae semper egestas, magna augue egestas orci, quis laoreet lectus massa fringilla nisl. Vivamus laoreet, leo ac suscipit bibendum, sapien justo tempus nulla, egestas ultrices magna odio a leo.</p>

{% endblock %}
